body {
  font-size: 2em;
  font-family: sans-serif;
}

/*
rt {
  border-left: solid 1px red;
  border-right: solid 1px red;
}

rt:nth-child(2) {
  border-left: solid 2px red;
  border-right: solid 1px red;
}

rt:last-child {
  border-left: solid 1px red;
  border-right: solid 2px red;
}
*/

